*
!public/
!nginx/
!src/

src/**/__tests__
src/**/test.[jt]s
src/**/test.[jt]sx
src/**/spec.[jt]s
src/**/spec.[jt]sx
src/**/*.test.[jt]s
src/**/*.test.[jt]sx
src/**/*.spec.[jt]s
src/**/*.spec.[jt]sx

!build.ts
!bun.lock
!bunfig.toml
!index.html
!package.json
!tsconfig.*