@import "./styles/globals.css";

@layer base {
  :root {
    font-family: var(--font-sans);
  }

  body {
    display: grid;
    position: relative;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    margin: calc(var(--spacing) * 0);
    background-color: var(--background);
    color: var(--foreground);
  }
}

/* cool Bun background animation 😎 */
body::before {
  z-index: -1;
  position: fixed;
  inset: 0;
  transform: rotate(-12deg) scale(1.35);
  background: url("./logo.svg");
  background-size: 256px;
  content: "";
  animation: slide 30s linear infinite;
  opacity: 0.05;
  pointer-events: none;
}

@keyframes slide {
  from {
    background-position: 0 0;
  }

  to {
    background-position: 256px 224px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}
